
.logo{
    width: 100%;
}
.header{
 width: 100%;
 padding: 23px !important;
}
.phonelogo{
    width: 100%;
}
.phonenumber{
    width: 100%;
    padding-left: 0 !important;
}
.menu{

}
.pricebox{

}
.apply{

    
}
.mainheader{

}
.mainpara{

}
.numbers{

    }
.inner{

}
.outter{

}
.num{

  
}
.novobutton{

}
.asceptance{

}
.price{

}
.image{

}
.bold{

}
.paragraphnum{

}